@import 'reset';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/slider';
@import 'blocks/about';
@import 'controls';
@import 'article';

@page_width: 1365px;

html {
  height: 100%;
}
body {
  background: #ba6c2a url(../images/bg3.png) repeat-y;
  background-position: center;
  font-family: 'Myriad Pro', Arial, Verdana;
  color: #333;
  height: 100% !important;
  position: relative;
  width: 100%;
}

.i-layout {
  background: #FFFFFF;
  box-shadow: 0 0 50px rgba(0,0,0,0.6);
  min-height: 100%;
  height: auto !important;
  margin: 10px auto;
  width: @page_width;
}

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.page-title {
  color: #00133c;
  font-size: 55px;
  line-height: 130px;
}
